.header
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}
ul
{
    margin: 30px 40px 30px 40px;
    font-size: 1.6em;
}
li
{
    display: inline-block;
    margin: 0 100px 0 100px;
}
a
{
    color: white;
    text-decoration: none;
}
a:hover
{
    color: rgb(47, 192, 228);
}