<div class="m">
    <h1>РЕЦЕПТЫ</h1>
    <div class="first">
        <div class="recipe">
            <div class="img">
                <img src="https://cdn.discordapp.com/attachments/755122100301332602/775005329049780224/2814705.png" alt="rec" width="500" height="400">
            </div>
            <p>
                Подготовить продукты для борща с говядиной. Как приготовить борщ с говядиной: Говядину промыть, нарезать крупными кусками. Залить 1,5 л воды и варить 90 минут на среднем огне, снимая образующуюся пену. В конце варки посолить Свёклу очистить, вымыть, нарезать соломкой. Морковь очистить, вымыть, натереть на крупной терке. Лук очистить, вымыть, мелко нарезать. Капусту вымыть, нашинковать. Картофель очистить, вымыть, нарезать кубиками. На сковороде разогреть растительное масло. На среднем огне свёклу, морковь и лук, помешивая, тушить на сковороде с растительным маслом 5–7 минут. В конце добавить уксус и томатную пасту. Перемешать. В кипящий бульон положить картофель и капусту, варить 10 минут. Затем добавить тушеные овощи, лавровый лист и, при желании, перец. Варить борщ с говядиной еще 5–7 минут. Готовый борщ с говядиной разлить по тарелкам, заправить сметаной и посыпать зеленью.
            </p>
        </div>
        <div class="recipe" id="right">
            <div class="img">
                <img src="https://cdn.discordapp.com/attachments/755122100301332602/775028204721012756/milaclub-salat-olivye.png" alt="rec" width="500" height="400">
            </div>
            <p>
                Как сделать салат Оливье с колбасой: Картофель отварить в кожуре, остудить, очистить, нарезать мелким кубиком. Отварить морковь, остудить, очистить, нарезать мелкими кубиками. Яйца отварить вкрутую, остудить, очистить, нарезать кубиками. Яйца отварить вкрутую, остудить, очистить, нарезать кубиками. Зеленый лук измельчить. Нарезать колбасу кубиками. В миске смешать нарезанные овощи, зеленый горошек и майонез. Попробовать салат Оливье с колбасой на соль и досолить при необходимости по вкусу.
            </p>
        </div>
    </div>
    <div class="second">
        <div class="recipe">
            <div class="img">
                <img src="https://media.discordapp.net/attachments/755122100301332602/775028973008191528/kartofelnoe_pyure.png?width=549&height=477" alt="rec" width="500" height="400">
            </div>
            <p>
                Картофель моем, чистим и отвариваем до готовности. Потом воду полностью сливаем, накрываем полотенцем и на самом маленьком огне отпариваем до побеления. То есть подсушиваем ее до тех пор, пока не испарится вся влага. Разминаем хорошо нашу картошку - без воды, без всего, очень тщательно. Когда нет воды, сделать это намного проще, пюре получается без комочков.
                Потом добавляем кусок сливочного масла, обязательно растопленного, разминаем. Добавляем горячее молоко или 10-процентные сливки, размешиваем, как бы взбивая. И вот только теперь добавляем соль, черный перец или любые любимые приправы.
            </p>
        </div>
        <div class="recipe" id="right">
            <div class="img">
                <img src="https://cdn.discordapp.com/attachments/755122100301332602/775029564145532968/e390ebdcf40743be3771ce886c59d45d.png" alt="rec" width="500" height="400">
            </div>
            <p>
                В муку добавляем соль, яйцо и растительное масло. Слегка перемешиваем. Сдвигаем яйцо немного к краю миски, чтобы оно не сварилось. Заливаем муку горячей водой (температура 70-75 градусов), постоянно перемешивая ложкой. Затем замешиваем тесто руками. Если останутся небольшие вкрапления сварившегося желтка - ничего страшного, они разойдутся при вымешивании теста. Вымешиваем тесто примерно 7 минут, пока оно полностью не остынет. Тесто не липнет ни к рукам, ни к поверхности, поэтому дополнительно муку можно не добавлять.
                Накрываем тесто полотенцем и даём ему отдохнуть 20-30 минут.  Готовим начинку. Вес теста - приблизительно 800 г, поэтому и начинки берём тоже 800 г. Мясо, сало и лук перемалываем с помощью мясорубки. Берём часть теста весом 120 г, выкладываем на присыпанную мукой поверхность и раскатываем по размеру пельменницы. Хорошо посыпаем мукой верх пельменницы и ту сторону теста, которую будем выкладывать на пельменницу, чтобы пельмени хорошо от неё отделялись. Разравниваем тесто по всей поверхности пельменницы. Выкладываем фарш в ячейки. Следим, чтобы фарш не попадал на тесто вокруг ячеек, таким образом тесто будет хорошо скрепляться и пельмени не развалятся. Раскатываем еще одну часть теста (весом 80 г), накрываем пельменницу, хорошо прокатываем скалкой.  Отвариваем пельмени в подсоленной воде с лавровым листом, горошинами чёрного перца и луком. Слегка перемешиваем пельмени и варим 2-3 минуты после того, как они всплывут.
            </p>
        </div>
    </div>
</div>
