<div class="m">
    <h1>Рецепты нашего ресторана</h1>
    <div class="first">
        <div class="recipe">
            <a routerLink="/app-r1" class="img">
                <img src="https://cdn.discordapp.com/attachments/755122100301332602/775005329049780224/2814705.png" alt="rec" width="500" height="400">
            </a>
        </div>
        <div class="recipe" id="right">
            <a routerLink="/app-r2" class="img">
                <img src="https://cdn.discordapp.com/attachments/755122100301332602/775028204721012756/milaclub-salat-olivye.png" alt="rec" width="500" height="400">
            </a>
        </div>
    </div>
    <div class="second">
        <div class="recipe">
            <a routerLink="/app-r3" class="img">
                <img src="https://media.discordapp.net/attachments/755122100301332602/775028973008191528/kartofelnoe_pyure.png?width=549&height=477" alt="rec" width="500" height="400">
            </a>
        </div>
        <div class="recipe" id="right">
            <a routerLink="/app-r4" class="img">
                <img src="https://cdn.discordapp.com/attachments/755122100301332602/775029564145532968/e390ebdcf40743be3771ce886c59d45d.png" alt="rec" width="500" height="400">
            </a>
        </div>
    </div>
</div>