<div class="img">
    <img src="https://cdn.discordapp.com/attachments/755122100301332602/775028204721012756/milaclub-salat-olivye.png" alt="rec" width="400" height="300">
</div>
<p>
    Как сделать салат Оливье с колбасой: Картофель отварить в кожуре, остудить, очистить, нарезать мелким кубиком. Отварить морковь, остудить, очистить, нарезать мелкими кубиками. Яйца отварить вкрутую, остудить, очистить, нарезать кубиками. Яйца отварить вкрутую, остудить, очистить, нарезать кубиками. Зеленый лук измельчить. Нарезать колбасу кубиками. В миске смешать нарезанные овощи, зеленый горошек и майонез. Попробовать салат Оливье с колбасой на соль и досолить при необходимости по вкусу.
</p>