<div class="img">
    <img src="https://media.discordapp.net/attachments/755122100301332602/775028973008191528/kartofelnoe_pyure.png?width=549&height=477" alt="rec" width="400" height="300">
</div>
<p>
    Картофель моем, чистим и отвариваем до готовности. Потом воду полностью сливаем, накрываем полотенцем и на самом маленьком огне отпариваем до побеления. То есть подсушиваем ее до тех пор, пока не испарится вся влага. Разминаем хорошо нашу картошку - без воды, без всего, очень тщательно. Когда нет воды, сделать это намного проще, пюре получается без комочков.
    Потом добавляем кусок сливочного масла, обязательно растопленного, разминаем. Добавляем горячее молоко или 10-процентные сливки, размешиваем, как бы взбивая. И вот только теперь добавляем соль, черный перец или любые любимые приправы.
</p>